body {
    background-color: #001534;
  
}


::-webkit-scrollbar {
    width: 0;
   
    background: transparent;
    
}


::-webkit-scrollbar-thumb {
    background: transparent;
    width: 10%;
    height: 10%;
}

.container-fluid {
    padding: 0;
    margin: 0;
}


.carousel-img {
    border-radius: 20px;
}



.listen-now {
    width: 160px;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    background: #c90848;
    backdrop-filter: blur(2px);
    color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.listen-now div {
    padding: 8px;
}



.carousel-caption {
    width: 80%;
    float: right;
    display: flex;
    justify-content: flex-end;

}


.melobit-icon {
    width: 70px;
    height: 74px;
    color: #FFFFFF;
}


.melobit-text {
    width: 130px;
    height: 80px;
}


.bg-cards {
    background:#343a558e;
}

.wrap-touch {
    width: 100%;
    overflow: auto;
}

.bg-cards-darkblue {
    background: #242736;
    max-height: 255px;

}



.shape-back {
    height: 256px;
    float: left;
    width: 380px;
    position: relative;
    z-index: 3;
}

.shape {
    height: 256px;
    float: left;
    width: 380px;
    position: absolute;
    z-index: 3;
}


.text-show-top {
    position: absolute;
    display: inline;
    z-index: 3;
    font-size: 40px;
    align-items: center;
    left: 60px;
    margin-top: 20px;
    width: 50%;
    
}



.img-holder-trending-artist {
    
    width: 250px;
    height: 250px;
}



.profile-pic {

    padding: 5px;
    margin: 25px;
    width: 150px;
    height: 150px;
    
    
}

.profile-item {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

}
.text-blue {
    font-size: 1.3rem;
    color: rgb(5, 128, 177);

}

.transparent-card {
    background-color: #021635;
    border: none;
    margin-top: 5px;
}

.text-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline;
    position: absolute;
    z-index: 3;
    width: 500px;
    
}



.link-small-card {
    width: 150px;
    height: 280px;
}

.figure-top-day-song {
    
    width: 150px;
    height: 200px;
}

.space-bottom {
    margin-bottom: 50px !important;
}

.rounded-img {
    border-radius: 20px !important;
}

.search-icon {
    width: 150px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: #404852;
    margin-left: 50px;
    font-size: 3rem;
}

.search-icon-btn {
    font-size: 2rem;
}

.icon-size {
    font-size: 1.25rem;
}

.login-btn {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: #c90848;
    
}

.search-btn {
    width: 60px;
    height: 60px;
    background-color: #c90848;
    border: none;
}

.search-btn:hover {
    width: 60px;
    height: 60px;
    background-color: #661f37;
    border: none;
}

figcaption {
    font-family: 'Roboto';
}

.search-input {
    background-color: #333942;
    border: none;
    width: 50%;
    color: #ffffff;

}

.search-input:hover {
    background-color: #2b3038;
    border: none;
    width: 50%;

}

.search-input:focus {
    background-color: #333942;
    border: none;
    outline: none !important;
    outline: none !important;
    border: 1px solid #36475e;
    box-shadow: 0 0 10px #36475e;
    color: white;

}

.search-input::placeholder {
    color: #d4d4d4;
}

/* for details page */
.detailes-banner {
    filter: blur(1px);
    background-image: url('https: //www.google.com/imgres?imgurl=https%3A%2F%2Fst2.depositphotos.com%2F1106005%2F7667%2Fi%2F950%2Fdepositphotos_76673283-stock-photo-black-and-white-music-notes.jpg&imgrefurl=https%3A%2F%2Fdepositphotos.com%2F76673283%2Fstock-photo-black-and-white-music-notes.html&tbnid=LvwDo58cJaiW6M&vet=12ahUKEwirptWVi8T8AhUB67sIHWw-CfAQMygCegUIARDBAQ..i&docid=p_3gczV0cYYCfM&w=1024&h=1024&q=music%20background%20repeated&ved=2ahUKEwirptWVi8T8AhUB67sIHWw-CfAQMygCegUIARDBAQ');
}

.music-player-card {
    position: absolute;
    width: 340px;
    height: 340px;
    right: 100px;
    top: 100px;
    background: rgba(58, 19, 121, 0.767);
    border-radius: 150px;
}

.music-player-card img {
    width: 100px;
    height: 350px;
    border-radius: 50px;
    padding: 5px;
    
    
}

.seekbar-box {
    position: absolute;
    width: 340px;
    height: 190px;
    right: 100px;
    /* left: 945px; */
    top: 450px;
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.music-rank-col {
    position: absolute;
    width: 363.04px;
    height: 80px;
    right: 80px;
    top: 670px;
    backdrop-filter: blur(12.5px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.music-rank-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-between {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.seekbar-box .song-name {

    
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 30px;

}

.seekbar-box .artist-name {

    
    font-size: 25px;
    font-weight: 275;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #c90848;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.lyrics {
    position: absolute;
    width: 340px;
    height: 200px;
    left: 100px;
    padding-bottom: 10px;
    text-align: justify !important;
    direction: rtl;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff;
    overflow-y: scroll;
    
}

.lyrics p {
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff;

}

.text-rank {
    padding-left: 5px;
}

.song-details {

    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.download-btn {
    width: max-content;
    border: none;
    border-radius: 20px;
    height: 40px;
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: rgb(134, 126, 173);
    
}

.button-container {

    /* background: #000; */
    margin-left: 0;
}

.download-quality-btn {
    width: max-content;
    border: none;
    height: 40px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(56, 52, 68, 0.856);
    
}

#low {
    width: 200px;
    border-top: #0f0c36 solid 1px;
    border-radius: 0 0 5px 5px;
   
}

#high {
    width: 200px;
    border-radius: 5px 5px 0 0;
}